<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BoardMapper">
    
    <!-- 게시글 작성 -->
    <insert id="insertBoard" parameterType="board">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select seq_board.nextval from dual
        </selectKey>
        insert into tb_board (
                id,
                user_id,
                title,
                content
        ) values (
                #{id},
                #{user_id},
                #{title},
                #{content}
        )
    </insert>

    <!-- 게시글 읽기 -->
    <select id="selectBoardById" parameterType="long" resultType="board">
        select
                id, 
                user_id,
                title,
                content,
                hit,
                input_time,
                last_modified_time
        from 
                tb_board
        where  
                id = #{id}
    </select>

    <!-- 조회수 업데이트 -->
    <update id="updateBoardHit" parameterType="long">
        update tb_board set hit = hit + 1 where id = #{id}
    </update>

    <!-- 게시글 검색 -->
    <select id="selectBoardAndUserById" parameterType="long" resultType="map">
        select
                b.id, 
                b.user_id,
                u.name,
                b.title,
                b.content,
                b.hit,
                b.input_time,
                b.last_modified_time
        from 
                tb_board b join tb_user u on (b.user_id = u.user_id)
        where  
                b.id = #{id}
    </select>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="board">
        update tb_board set
                title = #{title},
                content = #{content},
                last_modified_time = sysdate
        where 
                id = #{id}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="long">
        delete from tb_board where id = #{id}
    </delete>
    
    <!-- 게시글 검색(resultMap 사용) -->
    <resultMap id="boardResult" type="board">
        <id property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="hit" column="hit"/>
        <result property="input_time" column="input_time"/>
        <result property="last_modified_time" column="last_modified_time"/>
        <association property="user" column="user_id" javaType="user" select="selectUser"/>
    </resultMap>

    <resultMap id="userResult" type="user">
        <id property="user_id" column="user_id"/>
        <id property="password" column="password"/>
        <result property="name" column="name"/>
    </resultMap>
    
    <select id="selectBoard" resultMap="boardResult">
        select * from tb_board where id = #{id}
    </select>

    <select id="selectUser" resultMap="userResult">
        select * from tb_user where user_id = #{user_id}
    </select>

    <select id="selectBoardResult" resultMap="boardResult">
        select
            b.id, b.user_id, b.title, b.content, b.hit, b.input_time, b.last_modified_time,
            u.user_id, u.password, u.name
        from tb_board b join tb_user u on b.user_id = u.user_id
        where b.id = #{id}
    </select>
</mapper>