<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserMapper">
    <!-- User 정보 insert (mariadb)-->
    <!--
    <insert id="insertUser" parameterType="Member" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user (
            password,
            name
        )
        values (
            #{password},
            #{name}
        )
    </insert>
    -->

    <!-- User 정보 insert (oracle)-->
    <insert id="insertUser" parameterType="user">
    <!--         
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select seq_user.nextval from dual
        </selectKey>
         -->
        insert into tb_user (
            user_id,
            password,
            name
        )
            values (
            #{user_id},
            #{password},
            #{name}
        )
    </insert>
   
    <!-- User 정보 select -->
    <select id="selectUserById" parameterType="string" resultType="user">
        select
            user_id,
            password,
            name
        from tb_user
        where user_id = #{user_id}
    </select>
    
    <resultMap type="user" id="userMap">
    
    </resultMap>
    <select id="selectUserMap" resultMap="userMap">
    	select * from tb_user where user_id = #{user_id}
    </select>

    <!-- User 정보 update -->
    <update id="updateUser" parameterType="user">
        update tb_user set
            name = #{name}
        where user_id = #{user_id}
    </update>

    <!-- User 정보 delete -->
    <delete id="deleteUser" parameterType="string">
        delete from tb_user
        where user_id = #{user_id}
    </delete>
    
    <!-- User id와 password로 회원 정보 검색 -->
    <select id="selectUser" parameterType="user" resultType="user">
    	select * from tb_user where user_id = #{user_id}
    	<if test="password != null">
    		and password = #{password}
    	</if>
    </select>
    
</mapper>